html, body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}
body {
  background-attachment: fixed;
  background-image: url(https://www.lar-mo.com/images/index_bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #F9F9F9;
  margin: 0;
  padding: 15px;
}
h2 {
  color: #F9F9F9;
  margin: 0;
  padding: 0 15px 15px;
  font-size: 1.4em;
}
#header_link {
  color: #F9F9F9;
  text-decoration: none;
}

header {
  background-color: rgba(128, 128, 128, 0.7);
  color: #F9F9F9;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  z-index: 999;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper-i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  /* padding: 20px; */
  /* flex-wrap: wrap; */
}
.wrapper-i div {
  padding: 50px;
}
.hero_image {
  margin-top: 30px;
  cursor: pointer;
}
.hero_image > img, #hero1, #hero2 {
  border-radius: 20px;
  width: 427px;
  height: 270px;
}
.content {
  width: 427px;
  height: 269px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: none;
  opacity: 70%;
  cursor: pointer;
}
article, .content p {
  padding: 10px 20px;
}
.title {
  font-weight: 700;
}
.siteLink {
  color: #111;
  text-decoration: underline;
}
.close_button {
  text-align: right;
  padding: 15px 15px 0 0;
  font-size: 21px;
}

@media all and (max-width: 800px) {
  .hero_image > img, #hero1, #hero2 {
    width: 350px;
    height: 221px;
  }
  h1 {
    font-size: 1.4em;
  }
  .wrapper-i {
    margin-top: 50px;
    flex-direction: column;
  }
}
